<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Система учета леса</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <header>

        <div class="container">
            <div class="menu">
                <a href="{% url 'main' %}" class="btn">
                    Склад
                </a>
                <a href="{% url 'delivery' %}" class="btn">
                    Поставки
                </a>
                <a href="{% url 'type' %}" class="btn">
                    Тип древесины
                </a>
                <a href="{% url 'expenses' %}" class="btn">
                    Расходы
                </a>
            </div>
        </div>

    </header>

    <section>

        <div class="container">
            <div class="table">

                <div class="sidebar">

                    <div class="icon">
                        <img src="../static/image/Фильтр.png" alt="Фильтр">
                    </div>
                    <div class="icon">
                        <a  class="btn">
                            <img src="../static/image/Ель.png" alt="Ель">
                        </a>
                    </div>
                    <div class="icon">
                        <a  class="btn">
                            <img src="../static/image/Сосна.png" alt="Сосна">
                        </a>
                    </div>
                    <div class="icon">
                        <a  class="btn">
                            <img src="../static/image/Береза.png" alt="Берёза">
                        </a>
                    </div>
                    <div class="icon">
                        <a href="" class="btn">
                            <img src="../static/image/Тополь.png" alt="Тополь">
                        </a>
                    </div>
                    <div class="icon">
                        <a href="" class="btn">
                            <img src="../static/image/Сброс.png" alt="Сброс">
                        </a>
                    </div>

                </div>

                 <div class="viev">
                    

                 </div>

            </div>
        </div>

    </section>

    <footer>

        <div class="container">
            <div class="menu">
                <h6>
                 CopyRight ООО "Печора", 2022. Все права защищены.    
                </h6>

            </div>
        </div>

    </footer>
    
</body>
</html>